MONGODB_URI=mongodb+srv://kapilKumar:kapilKumar@cluster0.xiyw1cr.mongodb.net/?appName=Cluster0

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=

REDIS_HOST=localhost
REDIS_PORT=6379

PORT=5001
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

MAX_FILE_SIZE_MB=25
BLUR_THRESHOLD=100
FACE_MIN_AREA_PERCENT=15
DUPLICATE_SIMILARITY_THRESHOLD=95
